* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
  background-color: #fff;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
  margin-bottom: 46px;
}
.header__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #131718;
}
@media (max-width: 540px) {
  .header__list {
    font-size: 14px;
  }
}
.header__list-title {
  margin-bottom: 21px;
}
.header__list-item {
  color: red;
  margin-left: 32px;
}
.header__list-item span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
  color: #131718;
}
@media (max-width: 540px) {
  .header__list-item span {
    font-size: 14px;
  }
}

.actions__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .actions__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .actions__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.actions .actions__left {
  height: 217px;
  max-width: 274px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actions .actions__left-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.actions .actions__left-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.actions .actions__left-items {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.actions .actions__left-items .actions__left-item {
  flex-basis: 85px;
  height: 110px;
  border: solid 4px #c4c4c4;
  border-radius: 5px;
  position: relative;
  padding: 9px;
}
.actions .actions__left-items .actions__left-item .item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #ec1630;
  text-transform: uppercase;
}
.actions .actions__left-items .actions__left-item .item__number {
  font-size: 24px;
  color: #ec1630;
  margin-bottom: 14.5px;
}
.actions .actions__left-items .actions__left-item .item__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #ec1630;
  text-align: center;
}
.actions .actions__left-items .actions__left-item .item__circul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  right: -13px;
  top: -18px;
  border: solid 3px #c4c4c4;
  border-radius: 50%;
  background-color: #ec1630;
}
.actions .actions__left-items .actions__left-item .item__circul .circul__img {
  display: flex;
  align-items: center;
}
.actions .actions__center {
  height: 217px;
  max-width: 274px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actions .actions__center-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.actions .actions__center-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.actions .actions__center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.actions .actions__center-items .actions__center-item {
  width: 85px;
  height: 110px;
  border: solid 4px #c4c4c4;
  border-radius: 5px;
  position: relative;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.8s;
}
.actions .actions__center-items .actions__center-item .item__number {
  font-size: 24px;
  color: #ec1630;
}
.actions .actions__center-items .actions__center-item .item__action-1,
.actions .actions__center-items .actions__center-item .item__action-2 {
  opacity: 0;
}
.actions .actions__center-items .actions__center-item .item__action-action_1,
.actions .actions__center-items .actions__center-item .item__action-action_2 {
  opacity: 1;
}
.actions .actions__center-items .actions__center-item .item__circul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  right: -13px;
  top: -18px;
  border: solid 3px #c4c4c4;
  border-radius: 50%;
  background-color: #ec1630;
}
.actions .actions__center-items .actions__center-item .item__circul .circul__img-1,
.actions .actions__center-items .actions__center-item .item__circul .circul__img-2 {
  display: flex;
  align-items: center;
}
.actions .actions__center-items .actions__center-item .item__circul .circul__img-hidden {
  display: none;
}
.actions .actions__center-items .actions__center-item .item__circul .circul__img-action-1,
.actions .actions__center-items .actions__center-item .item__circul .circul__img-action-2 {
  display: none;
}
.actions .actions__center-items .actions__center-item:hover {
  background-color: #c4c4c4;
}
.actions .actions__right-titles {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}
.actions .actions__right-titles .actions__right-title {
  text-transform: uppercase;
}
.actions .actions__right-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ec1630;
  margin-bottom: 50px;
  text-align: center;
}
.actions .actions__right-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 7px 50px;
  background: #ec1630;
  border-radius: 25px;
}

.info {
  margin-top: 50px;
}
.info .info__wrapper {
  width: 100%;
  padding: 15px;
  background: #eeeeee;
  border: 1px solid #ec1630;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
